<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Estatio Webapps</title>

    <link rel="stylesheet" th:href="@{webjars/bootstrap/4.2.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>


</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">incode.org</a>
</nav>

<main role="main" class="container">


    <div class="container">
        <div class="row">
            <div class="col col-lg-12 text-center">
                <h1>Estatio webapps</h1>
            </div>
        </div>
        <br/>
        <div class="row">
            <div class="col col-sm-9">
                <div class="row">
                    <div class="col col-sm-4">
                        <!-- wicket -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Estatio</h5>
                                <p class="card-text">
                                    Invoicing & lease management (end-user UI)
                                </p>
                                <a target="_blank" th:href="@{${estatioHref}}" class="btn btn-primary">Open</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <!-- activemq -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Message Broker</h5>
                                <p class="card-text">
                                    Guaranteed delivery of messages between Estatio and CODA
                                </p>
                                <a target="_blank" th:href="@{${messagebrokerHref}}" class="btn btn-primary">Open</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <!-- Docker Mgmt -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Docker Management</h5>
                                <p class="card-text">
                                    Portainer
                                    <br/>
                                </p>
                                <a target="_blank" href="https://portainer.ecpnv.com/#/services" class="btn btn-primary">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <!-- swagger -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Swagger</h5>
                                <p class="card-text">
                                    Invoicing & lease management (dev API)
                                </p>
                                <a target="_blank" th:href="@{${swaggerHref}}" class="btn btn-primary">Open</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                    </div>
                    <div class="col col-sm-4">
                        <!-- CI -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Continuous Integ'n</h5>
                                <p class="card-text">
                                    Jenkin CI
                                    <br/>
                                    <i>Hosted on-prem</i>
                                </p>
                                <a target="_blank" href="https://jenkins.ecpnv.com/job/estatio/" class="btn btn-primary">Open</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-4">
                        <!-- restful -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Restful</h5>
                                <p class="card-text">
                                    Invoicing & lease management (REST API)
                                </p>
                                <a target="_blank" th:href="@{${restfulHref}}" class="btn btn-primary">Open</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <!-- TOC -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">TOC</h5>
                                <p class="card-text">
                                    This 'table of contents'
                                </p>
                                <a target="_blank" th:href="@{${tocHref}}" class="btn btn-primary">Open</a>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <!-- docs -->
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Docs</h5>
                                <p class="card-text">
                                    Asciidoc/Antora documentation
                                    <br/>
                                    <i>Published in GAE</i>
                                </p>
                                <a target="_blank" href="https://docs.ecp.incode.work/repos/published-sites.html" class="btn btn-primary">Open</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- hawtio -->
            <div class="col col-sm-3">
                <div class="card"  style="width: 95%; ">
                    <dd class="card-body">
                        <h5 class="card-title">hawt.io</h5>
                        <p class="card-text">
                            Remote configuration & management
                        </p>
                        <a target="_blank" th:href="@{${hawtioHref}}" class="btn btn-primary">Open</a>
                        <p>
                            <dl>
                                <dt>messagerelay</dt>
                                <dd>
                                    <p>
                                        scheme: <code>http</code>
                                        <br/>
                                        host: <code>messagerelay</code>
                                        <br/>
                                        port: <code>8080</code>
                                        <br/>
                                        path: <code>/actuator/jolokia</code>
                                    </p>
                                </dd>

                                <dt>messagesubscriber</dt>
                                <dd>
                                    <p>
                                        scheme: <code>http</code>
                                        <br/>
                                        host: <code>messagesubscriber</code>
                                        <br/>
                                        port: <code>8080</code>
                                        <br/>
                                        path: <code>/actuator/jolokia</code>
                                    </p>
                                </dd>
                                <dt>camel</dt>
                                <dd>
                                    <p>
                                        scheme: <code>http</code>
                                        <br/>
                                        host: <code>camel</code>
                                        <br/>
                                        port: <code>8080</code>
                                        <br/>
                                        path: <code>/api/jolokia</code>
                                    </p>
                                </dd>
                            </dl>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--
                    <div class="col col-sm-3">
                        <div class="card" style="width: 95%; ">
                            <div class="card-body">
                                <h5 class="card-title">Zipkin</h5>
                                <p class="card-text" style="height: 4rem;">
                                    Distributed Tracing
                                    <br/>
                                    <i>(not yet deployed)</i>
                                </p>
                                <a target="_blank" th:href="@{${zipkinHref}}" class="btn btn-primary disabled">Open</a>
                            </div>
                        </div>
                    </div>
        -->
    </div>

</main>

<script type="text/javascript" th:src="@{webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</body>
</html>